<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试for循环</title>
</head>
<body>
    <!--<table>-->
        <!--<th>第一列</th><th>第二列</th><th>第三列</th><th>第4列</th><th>第5列</th>-->
        <!--{%for i in data reversed%}-->
        <!--<tr>-->
            <!--<td>第{{forloop.counter0}}行：</td>{%for j in i reversed%}<td>{{j}}</td>{%endfor%}-->
        <!--</tr>-->
        <!--<tr><p>男男女女女女女女那奥奥</p></tr>-->
        <!--{%endfor%}-->
    <!--</table>-->
    学生分数:{{ddd}}
        {% if ddd == "aa" %}
        11111
        {% endif %}

</body>
</html>